<footer>
    <hr class="mx-auto" style="width:25%;">
    <img src="/img/Logo_Primary-Reversed-color.jpg" alt="Cal State Monterey Bay logo.">
    <h6>CST336 Internet Programming. 2026&copy; Kim</h6>
    <h6><strong>Disclaimer: The information in this webpage is for academic purposes only.</strong></h6>
    <!-- Your last name and year here in ALL assignments -->
</footer>