<%- include("partials/header.ejs") %>
<body class="bg-dark">
    <h1 class="text-center"> Famous Quotes - Admin Section </h1>
    <main class="d-block bg-info bg-opacity-10 bg-gradient border border-info-subtle rounded mx-auto p-3" style="width:200px;">
        <form action="/author/new">
            <button class="btn btn-secondary bg-gradient">Add Authors</button>
        </form><br>
        <form action="/quote/new">
            <button class="btn btn-secondary bg-gradient">Add Quotes</button>
        </form><br>
        <form action="/authors">
            <button class="btn btn-secondary bg-gradient">List Authors</button>
        </form><br>
        <form action="/quotes">
            <button class="btn btn-secondary bg-gradient">List Quotes</button>
        </form>
    </main>
    <%- include("partials/footer.ejs") %>
</body>

